<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PPJ Semestral project</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

</head>
<body>
<h1>PPJ - Semestral project</h1>

<p>Create state:</p>
<form action="#" th:action="@{/createState}" th:object="${newState}" method="post">
    <input class="inputText" type="text" th:field="*{name}" placeholder="state name"/>
    <input class="button" type="submit" th:value="create"/>
</form>

<p>Choose state:</p>

<table class="zui-table">
    <thead>
    <tr>
        <th>State name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="state: ${states}">
        <td><a th:href="@{'/state/' + ${state.name}}"><p th:text="${state.name}"></p></a></td>
        <td>
            <!--<a th:href="@{'/deleteState/' + ${state.stateName}}"><p th:text="delete"></p></a>-->
            <form action="#" th:action="@{'/deleteState/' + ${state.name}}" th:object="${state}" method="post">
                <input class="button" type="submit" th:value="delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>