<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <title>PPJ Semestral project</title>
</head>
<body>
<h1 th:text="${state}"></h1>

<p>Create city: </p>
<form action="#" th:action="@{'/'+${state}+'/createCity'}" th:object="${city}" method="post">
    <p>City name and city id must be from https://openweathermap.org/</p> <br/>
    <input class="inputText" type="text" th:field="*{cityName}" placeholder="name"/>
    <input class="inputText" type="text" th:field="*{cityId}" placeholder="id"/>
    <input class="button" type="submit" th:value="create"/>
</form>

<p>Choose city and its measurement:</p>

<table class="zui-table">
    <thead>
    <tr>
        <th>City name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
<tr th:each="city: ${cities}">

    <td><a th:href="@{'/state/' + ${state} +'/'+ ${city.cityId}+'/actual'}"><p th:text="${city.cityName} + ' Actual'"></p></a>
     <a th:href="@{'/state/' + ${state} +'/'+ ${city.cityId}+'/oneday'}"><p th:text="${city.cityName} + ' One Day avg'"></p></a>
    <a th:href="@{'/state/' + ${state} +'/'+ ${city.cityId}+'/week'}"><p th:text="${city.cityName} + ' One week avg'"></p></a>
    <a th:href="@{'/state/' + ${state} +'/'+ ${city.cityId}+'/two_weeks'}"><p th:text="${city.cityName} + ' Two weeks avg'"></p></a></td>

    <td>
        <form action="#" th:action="@{'/deleteCity/'+${city.cityId}}" th:object="${city}" method="post">
            <input class="button" type="submit" th:value="delete"/>
        </form>
    </td>

</tr>
    </tbody>
</table>
<br/>
<br/>
<footer><a href="/">GO HOME</a></footer>
</body>
</html>