.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 14px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.button {
    background-color: #DDEFEF;
    border: none;
    padding: 5px 5px;
    color: black;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
}
footer{
    position:relative;
    bottom:0;
    width:100px;
    height:20px;
    background: lightcoral;
    text-align: center;
    float: left;
}
a{
    text-decoration:none;
}
.inputText{
    border: solid 5px #DDEEEE;
}
h1{
    font: normal 36px Arial, sans-serif;
    text-shadow: 1px 1px 1px #fff;
    color: #336B6B;
}


